server:
  port: 8083

spring:
  application:
    name: gateway
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        namespace: public
      config:
        enabled: false
    gateway:
      routes:
        - id: chat-service
          uri: lb://chat-service
          predicates:
            - Path=/app/chat/**, /v3/api-docs/**, /chat-service-docs/**
          filters:
            - StripPrefix=0
        - id: web-app
          uri: lb://web-app
          predicates:
            - Path=/app/**, /v3/api-docs/**, /web-app-docs/**
          filters:
            - StripPrefix=0
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods: "*"
            allowed-headers: "*"

knife4j:
  gateway:
    enabled: true
    discover:
      version: openapi3
    routes:
      - name: 用户应用
        url: /web-app-docs
        service-name: web-app
      - name: 聊天服务
        url: /chat-service-docs
        service-name: chat-service
