<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.lease.web.admin.mapper.LeaseTermMapper">

    <select id="selectListByRoomId" resultType="com.zju.lease.model.entity.LeaseTerm">
        SELECT id,
                month_count,
                unit
        FROM lease_term
        WHERE is_deleted = 0
        AND id In (
                    SELECT lease_term_id
                    FROM room_lease_term
                    WHERE is_deleted = 0
                    AND room_id = #{id})
    </select>
</mapper>
