<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.lease.web.admin.mapper.PaymentTypeMapper">

    <select id="selectListByRoomId" resultType="com.zju.lease.model.entity.PaymentType">
        SELECT id, name, pay_month_count, additional_info
        FROM payment_type
        WHERE is_deleted = 0
        AND id IN (
                SELECT payment_type_id
                FROM room_payment_type
                WHERE is_deleted = 0
                AND room_id = #{id}
                )
    </select>
</mapper>
